@import url('https://fonts.googleapis.com/css?family=Rakkas:regular');
@import url('https://fonts.googleapis.com/css?family=Arvo:regular,bold,italic');

body {
    font-family: 'Arvo';
    background-color: rgb(250, 255, 255);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.page_container {
    width: 800px;
}

.header {
    background-color: rgb(25, 37, 46);
    border: 5px rgb(250, 255, 255) solid;
}

.title {
    font-family: 'Rakkas';
    font-size: 83px;
    color: rgb(250, 255, 255);
    margin: 0;
    line-height: 100px;
    font-weight: normal;
}

.slogan {
    font-style: italic;
    font-size: 30px;
    font-weight: normal;
    color: rgb(250, 255, 255);
    margin: 0;
}

.title_box {
    background-color: rgb(0, 95, 127);
    margin-top: 5px;
    border-top: 5px rgb(250, 255, 255) solid;
    text-align: center;
    height: 159px;
}

.contact_info {
    font-size: 21px;
    font-weight: bold;
    color: rgb(250, 255, 255);
    margin-top: 10px;
    margin-left: 10px;
}

.contact_box {
    background-color: rgb(195, 109, 21);
    border-top: 5px rgb(250, 255, 255) solid;
    border-bottom: 5px rgb(250, 255, 255) solid;
    margin-bottom: 74px;
    height: 127px;
}

.cog {
    content:url(cog.png);
    position: relative;
    left: 600px;
    top: -162.5px;
}

.button {
    background: none;
    border: 5px solid rgb(101, 84, 156);
    color: rgb(101, 84, 156);
    font-family: 'Arvo';
    font-size: 37px;
    width: 33%;
    height: 119px;
}

.active_button {
    background: rgb(101, 84, 156);
    color: rgb(250, 255, 255);
}

.button_strip {
    position: relative;
    border: 5px rgb(250,255,255) solid;
    border-top: 0;
    box-sizing: content-box;
    width: 800px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    z-index: 3;
}

h3 {
    font-size: 35pt;
    text-align: right;
    font-weight: normal;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 0;
}

.details_grid {
    display: grid;
    grid:   "sk_header ." auto
            "sk_header sk_body" auto
            "prj_header ." auto
            "prj_body prj_body" auto
            / auto 61.8%
}

.skills_header {
    grid-area: sk_header;
    background-color: rgb(101, 84, 156);
    color: rgb(250, 255, 255);
    border-left: 5px white solid;
}

.skills_content {
    grid-area: sk_body;
}

.skills_content ul {
    padding: 0 0 0 50px;
    font-size: 25px;
}

.projects_header {
    grid-area: prj_header;
    color: rgb(101, 84, 156);
    margin-top: 10px;
}

.projects_content {
    grid-area: prj_body;
    font-size: 25px;
}

.project_title {
    padding: 0;
    margin: 0;
    color: rgb(101, 84, 156);
}

.project_title a {
    color: rgb(101, 84, 156);
}

.project_subtitle {
    font-weight: normal;
    font-style: italic;
    font-size: 23px;
    margin: 15px;
}

.project_description {
    padding: 0 0 25px 0;
    margin: 0;
    font-size: 20px;
}